<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ student.first_name }} {{ student.last_name }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<style>
		body{
			background-image: url("/static/home/media/science-background.png");

			  min-height: 1000px;

			  /* Center and scale the image nicely */
			  background-position: center;
			  background-repeat: no-repeat;
			  background-size: cover;

			  position: relative;
		}
		.jumbotron{
			background-image: url("/static/profile/media/background.png");
			color:white;
		}
		.circle-icon {
		    background: white;
		    padding:30px;
		    border-radius: 50%;
		}
	</style>
</head>
<body>
	<header class="site-header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">
					<img src="/static/home/media/boiling_water-512.svg" alt="">Bio Lab Application
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
				        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
				        <a class="nav-item nav-link active" href="{% url 'profile' %}">Profile</a>
				    </div>
	  			</div>
	  			<form class="form-inline">
				    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</header>
	<div class="jumbotron">
		<h1 class="display-4">{{ user.first_name }} {{ user.last_name }} : Profile </h1>
	</div>
	<!--
	<div class="content-section">
      
      	<div style="width: 100%; text-align: center; position: relative;">
  			<div style="display: inline-block;">
        		<img class="rounded-circle account-img" src="{{ image.url }}" style="width:128px;height:128px;">
        	</div>
        </div>
        
          <center><h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2></center>
	      <center><p class="text-secondary">{{ user.email }}</p></center>
	      <center><p class="text-secondary">{{ student.student_number }}</p></center>
	    
      </div>
    </div>
-->	{% load crispy_forms_tags %}
	<div class="row">
	<div class="col-md-2 offset-md-1">
	<div style="width: 100%;  position: relative;">
  		<div style="display: inline-block;">
        	<img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="width:160px;height:158px;">
        	</div>
        </div>
        </div>
		<div class="col-md-6 offset-md-4 ml-2 bg-dark text-white">
		   	<h3 class="display-6"><i class="fas fa-portrait"></i> Contact Information</h3>
		   	<h7>{{ user.contact_no }}</h7>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-2 mt-3 offset-md-1">
			<div class="container pt-2 pb-2 bg-light">
				<a class="btn btn-outline-secondary btn-sm" href="{% url 'updateProfile' %}" role="button">Edit</a>
				<a class="btn btn-outline-secondary btn-sm" href="#" role="button">Deactivate</a>
			</div>
		</div>
		<div class="col-md-2 bg-light">	
			<h4 class="display-6 mt-2"><i class="far fa-envelope"></i> Email Address</h4>
		</div>
		<div class="col-md-2 ml-3 mt-3 bg-light">
			<h6>{{ user.email }}</h6>
		</div>
	</div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
