<!doctype html>
<html>
<head>
	<style type="text/css">
		body {background-image:url(science-background.png);}
		body > button {font-family: Arial;
					font-size: 25px;
					position: relative;
					left: 39%}
		h5 {font-size: 20px;}
		h4 {font-size: 50px;
			color: blue;}
		h3 {font-size: 30px;
			color: darkblue;}
		h3,h4 {font-weight:bold;
			font-family:Times New Roman;}
			
	</style>
</head>
<body>
	<h3>Bio Lab Application</h3>
	<br />
	<h4><center>Hello **auto insert user's name(idk how)**</center></h4> 
	<br />
	<h5>Previous activity</h5> 
	<table border="1" width="100%">	
		<tr>
			<th>Borrowed</th>
			<th>Returned</th>
		</tr>
		<tr>
			<th>_</th>
			<th>_</th>
		</tr>
		<tr>
			<th>_</th>
			<th>_</th>
		</tr>
		
	</table>	
	<br /><br />
	<center>What do you want to do?</center><br />
	<button type="button">
		<a href="borrow.html" title="Want to borrow something? click here">Borrow</a>
	</button>
	<button type="button">
		<a href="return.html" title="Want to return something? click here">Return</a>
	</button>
	<button type="button">
		<a href="SignOut.html" title="Want to log out account? click here">Sign Out</a>
	</button>	
	
</body>
</html>