{% extends 'adminbase.html' %}
{% block content %}
<body>
	
		<br /><br />
			<h1><center>WELCOME ADMIN!</center></h1>
		<br />
		<div class="row">
		<div class="container border-rounded bg-dark text-white offset-md-1 col-md-4">
			<br /><br />
			<center><i class="fas fa-user-graduate mx-auto" style="font-size:100px;color:white;"></i></center>
			<div class="row mx-auto">
				<center><h3 class="border-top">No. of Students:</h3></center>
			</div>
			<br /><br />
		</div>
		<div class="container bg-dark text-white offset-md-1 col-md-4">
			<center><h1 class="border-bottom">Notifications</h1></center>
		</div>
	</div>
</body>

{% endblock %}