{% extends 'home/base.html' %}

	{% block content %}
	<main role="main" class="container">
		<div class="row">
	    	<div class="col-md-8">
	      		
	    	</div>
	    </div>
	</main>
	<div class="table">
		<table class="table-bordered table-hover">
			<thead>
				<td><b>Weekly Calendar</b></td>
				<tr>
					<th class="text-center">Sunday<h6>31<h6></td>
					<th class="text-center">Monday<h6>01<h6></td>
					<th class="text-center">Tuesday<h6>02<h6></td>
					<th class="text-center">Wednesday<h6>03<h6></td>
					<th class="text-center">Thursday<h6>04<h6></td>
					<th class="text-center">Friday<h6>05<h6></td>
					<th class="text-center">Saturday<h6>06<h6></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Go to Church</th>
					<th scope="row">Go to Church</th>
					<th scope="row">Go to Church</th>
					<th scope="row">Go to Church</th>
					<th scope="row">Go to Church</th>
					<th scope="row">Go to Church</th>
					<th scope="row">Go to Church</th>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="jumbotron" id="cred">
		<p>Here is a list of UP Cebu Professors background and contact information <a href="credentials.html">See more</a><p>
	</div>
	
	<div class="jumbotron" id="news">
		<h6>News:<h6>
	</div>
	{% endblock %}
	
	